.property-action .icon {
    border: 1px solid #ddd;
    border-radius: 6px;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    transition: all .4s ease;
    /* margin-right: 10px !important; */
}

.property-action .icon i {
    color: var(--headings-color);
}

.property-action .price {
    font-size: 26px;
    letter-spacing: .02em;
}

.property-action .icon:hover {
    border-color: var(--headings-color);
}

.gallery_images,
.img_wrapper {
    overflow: hidden;
}

.gallery_images img {
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.gallery_images img:hover {
    transform: scale(1.05) rotate(-1deg) ;
    /* transform: scale(1.01) rotate(-1deg); */
    transition: transform 0.4s ease;
}

.gallery_images .img_wrapper {
    border-radius: 8px;
}

.single_head {
    font-size: 17px;
    font-weight: 600;
}

.overview_card {
    box-shadow: 0 1px 26px rgba(24, 26, 32, .07);
    border-radius: 12px;
    position: relative !important;
    overflow: hidden;
    margin-bottom: 30px ;
    padding: 30px !important;
}

.overview-element i {
    border: 1px solid #ddd;
    border-radius: 12px;
    color: var(--headings-color);
    display: block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    color: rgb(73, 72, 72);
}

.overview-element h6 {
    font-size: 15px;
    font-weight: 600;
}

.overview-element .text {
    color: var(--headings-color);
    font-family: var(--font-heading);
    font-weight: 400;
}

.pd-list .dark-color {
    font-weight: 700;
    color: var(--headings-color);
}

.accordion-style1 .accordion-button::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 18px;
    /* transform: translateY(-50%); */
    width: .75rem;
    height: .75rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23041e42' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    pointer-events: none;
}

.accordion-style1 .accordion-button::after {
    display: none !important;
}

.accordion-style1 .accordion-button:focus {
    box-shadow: none !important;
    background-color: var(--secondary);
    color: #fff;
}

.accordion-style1 .accordion-button:focus .text {
    color: #fff;
}

.accordion-style1 .accordion-button:focus::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}


.accordion-style1 .accordion-button:not(.collapsed) {
    background-color: var(--secondary) !important;
    color: #fff;
}

.accordion-style1 .accordion-button:not(.collapsed) .text {
    color: #fff !important
}

.accordion-style1 .accordion-button:not(.collapsed)::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 11 6-6 6 6'/%3e%3c/svg%3e") !important;
}


/* .accordion-style1 .accordion-button span{margin-bottom: 7px;} */
.accordion-button {
    padding: 1rem 1.5rem !important;
}

.accordion-style1 .accordion-button {
    color: var(--headings-color);
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 14px;
}

.accordion-style1 .accordion-button .text {
    color: var(--headings-color);
    font-family: var(--title-font-family);
    font-weight: 400;
}

iframe {
    border-radius: 12px;
}

.agent_img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.enquiry_btn {
    border: 1px solid var(--primary);
    border-radius: 6px;
    color: var(--primary);
    position: relative;
}

.enquiry_btn::before {
    background-color: var(--primary);
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    transform: skew(50deg);
    transition: width .6s;
    transform-origin: top left;
}

.enquiry_btn:hover::before {
    height: 100%;
    width: 200%;
}

.overview_card .search_home_btn {
    background-color: unset !important;
    color: var(--primary) !important;
    border: 1px solid var(--primary);
    font-size: 15px !important;
    font-weight: 500 !important;
    height: 45px !important;
}

.overview_card .search_home_btn:hover {
    color: #fff !important;
}


.property_single .list-tag {
    background-color: var(--primary);
    border-radius: 6px;
    color: #fff;
    font-family: var(--font-heading);
    font-weight: 500;
    opacity: 1;
    padding: 6px 12px;
    transform: translateY(0);
    visibility: visible;
    transition: all .4s ease;
    font-size: 11px;
}
/* .small_desc p {
  white-space: nowrap;
  display: flex;
  align-items: center;
} */
.small_desc {
  gap: 0.5rem; /* Spacing between items */
}

.small_desc .fa-circle {
    font-size: 10px;
}
.small_desc .fa-clock{font-size: 12px;}

.enquiry_section form input{ height: 45px;}
.enquiry_section form input:focus{ box-shadow: none !important; border-color: var(--secondary);}
.enquiry_section form textarea:focus{ box-shadow: none !important; border-color: var(--secondary);}
.enquiry_section form select{ height: 45px;}
.enquiry_section form select{ color: #5c5c5c;}

/* .enquiry_section .overview_card{position: sticky !important; top: 115px !important;} */

.subscribe_button .contact_btn_light2:hover{
    border-color: var(--secondary) !important;
    color: #fff !important;
}

.property_video1 { background-image: url("/images/card4.jpg");}
.property_video {
    /* background-image: url("/images/card4.jpg"); */
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    height: 350px;
    position: relative;
    border-radius: 12px;
    width: 100%;
}

.property_video .video_popup_btn {
    position: relative;
    border: none;
    background: transparent;
    border-radius: 50%;
    color: var(--headings-color);
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0px;
    outline: 1px solid #fff;
    outline-offset: 15px;
    text-align: center;
    transition: all 0.4s ease;
    cursor: pointer;
}

/* Ripple Effect */
.property_video .video_popup_btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.4);
    animation: ripple 2s infinite;
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

.property_video i {
    font-size: 25px;
    color: var(--primary);
    position: relative;
    z-index: 1;
}

.property_single .search_home_btn.black_btn{border-radius: 6px !important;}

/* .modal.show{padding-right: 0px !important;} */

.property_single .accordion-style1 .accordion-item {padding: 0; border-radius: 4px;}

#VideoModal .btn-close{position: absolute; right: -10px; top: -20px;z-index: 999;}
#VideoModal iframe{height: 370px;}


.social_icons_container {
    width: fit-content;
    background: #fff;
    position: absolute;
    /* right: 50px; */
    /* bottom: -90px; */
    top: 40px;
    left: 170px;
    z-index: 1;
    border-radius: 4px;
    box-shadow: #0000003d 0 3px 8px;
}

.social_icons_container .btn-theme{
    padding: 5px;
}
.social_icons_container .btn-theme i{
  font-size: 15px;
}

.amenities_card .fa-circle{font-size: 11px; color: var(--primary); margin-right: 1px;}


 .loader-icon {
        animation: bounce 1.2s infinite;
      }

      @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-8px);
        }
      }

      .loader-text {
        animation: fade 1.5s infinite;
      }

      @keyframes fade {
        0%, 100% {
          opacity: 0.3;
        }
        50% {
          opacity: 1;
        }
      }

.floor_accordion{font-size: 13px;}

#nearbyTabs{padding: 0 !important;}      
#nearbyTabsContent{padding: 15px 15px !important;}      
#nearbyTabsContent h6{font-size: 15px; text-transform: capitalize;}    
#nearbyTabsContent p{margin: 0; font-size: 13.5px;}  
.show_chart canvas{width: 100% !important;}

#enquiryForm {
  scroll-margin-top:180px; /* adjust offset */
}
.inspection_section .agency-details .search_home_btn{height: 40px; font-size: 13px !important;}

#inspectionModal .btn-theme{font-size: 13px;}
.gallery_more{font-size: 18px; background-color: #fff;color: #000; padding: 4px 10px; border-radius: 6px;}

.agent_contact_card{border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;}

@keyframes pop {
  0% { transform: scale(1); }
  25% { transform: scale(1.4); }
  50% { transform: scale(1.2); }
  75% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.pop-heart {
  animation: pop 0.5s ease-in-out;
}




@media screen and (min-width:1400px) {
.social_icons_container{left: 250px }
}

@media screen and (max-width:1200px) {
   .social_icons_container {left: 100px;}
}

@media screen and (max-width:992px) {
  .enquiry_section .overview_card{position: relative !important; top: unset !important;}
  .social_icons_container {left: 10px;}
}

@media screen and (max-width:768px) {
  #VideoModal iframe{height: 320px;}
  .social_icons_container {left: 50px;}
}

@media screen and (max-width:475px) {
  .overview_card { padding: 30px 20px !important;}
  /* .overview_card .prop_desc .col-6{width: 100% !important;} */
  .property_video .video_popup_btn {height: 50px; width: 50px;}
  .property_video .video_popup_btn i {font-size: 22px;}
  #VideoModal iframe{height: 300px;}
  .inspection_section h6{font-size: 15px !important;}
}

@media screen and (max-width:425px) {
 .overview-element i {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    width: 40px;
 }
 .overview-element h6{font-size: 13px;}
}

@media screen and (max-width:375px) {
  .floor_accordion{font-size: 12px;}
  .inspection_section h6{font-size: 14px !important;}

}